# Compiled
*.elc

# Packaging
.cask

# User-defined packages which will cause trouble
/recentf
/savehist
/eshell
/auto-save-list
.DS_Store
projectile-bookmarks.eld
projectile.cache

# Temporary files
session*
*~
[#]*[#]
*.pyc
*pyc
/elpa
/irony
/srecode-map.el

