# Compiled
*.elc

# Packaging
.cask

# User-defined packages which will cause trouble
/recentf
/savehist
/eshell
/auto-save-list
.DS_Store
projectile-bookmarks.eld
projectile.cache

# Temporary files
session*
*~
[#]*[#]
*.pyc
*pyc
/.org-id-locations
/tramp
/elpa/2048-game-20151026.1233/2048-game-autoloads.el
/elpa/2048-game-20151026.1233/2048-game-pkg.el
